[submodule "CS110-HelloWorld"]
	path = CS110-HelloWorld
	url = git@github.com:TaylorBisset/CS110-HelloWorld.git
[submodule "CS110-ioLab"]
	path = CS110-ioLab
	url = git@github.com:TaylorBisset/CS110-ioLab.git
[submodule "CS110-SquareRoot"]
	path = CS110-SquareRoot
	url = git@github.com:TaylorBisset/CS110-SquareRoot.git
[submodule "CS110-GetLine"]
	path = CS110-GetLine
	url = git@github.com:TaylorBisset/CS110-GetLine.git
[submodule "CS110-DebugExample"]
	path = CS110-DebugExample
	url = git@github.com:TaylorBisset/CS110-DebugExample.git
[submodule "CS110-SurfAreaAndVolumeSphere"]
	path = CS110-SurfAreaAndVolumeSphere
	url = git@github.com:TaylorBisset/CS110-SurfAreaAndVolumeSphere.git
[submodule "CS110-DistanceRateAndTime"]
	path = CS110-DistanceRateAndTime
	url = git@github.com:TaylorBisset/CS110-DistanceRateAndTime.git
